
<div class="home_page">
    <form align="right">
        <div class="page">
            <img src="/images/page_exp.jpg" style="width:304px;height:228px;">
            <!--<img ng-src="{{page.daily}}"/>-->
        </div>
        <div class="talkback">
            <ul class="hor-ul">
                <li class="hor-li"><input class="write-talkback" type="text" name="new_talkback" ng-model="page.talkback"></li>
                <li class="hor-li"><input ng-click="post_talkback()" type="submit" value="לחץ לשליחה"></li>
            </ul>

        </div>
        <div class="review-text-area" style="overflow:scroll; height:30%;">
            <ul ng-repeat="review in page.reviews">
                <!--<li></li>-->
            </ul>
        </div>

    </form>
</div>