<!--<div>-->
    <!--<head>-->
        <!--<title>דרושים</title>-->
        <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="../css/css/job_offers.css">&ndash;&gt;-->
        <!--<script src="../js/controllers/JobCtrl/jobCtrl.js"></script>-->

    <!--</head>-->

    <!--<body>-->
    <!--<div align="right">-->

        <!--<div class="headline"><p>serch by:</p></div>-->
        <!--<button onclick="drop()" class="dropbtn">אזור</button>-->
        <!--<div align="right" id="myDropdown" class="dropdown-content" >-->
            <!--<a href="/#/job_list">test</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--</body>-->
<!--</div>-->
