<div>
    <head>
        <title>הצעות עבודה</title>
    </head>

    <body>
            <script src ="../js/controllers/JobCtrl/jobctrl.js"></script>
            <div>
                <button>Search in...</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="JobJer.html">Jerusalem</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>



    </body>
</div>