
<div>
    <head>
        <title>דרושים</title>
        <link rel="stylesheet" type="text/css" href="../n/ob_offers.css">
        <script src="jobctrl.js"></script>

    </head>

    <body>
    <div align="right">

        <div class="headline"><p>:חפש משרה לפי</p></div>
        <button onclick="drop()" class="dropbtn">אזור</button>
        <div align="right" id="myDropdown" class="dropdown-content" >
            <a href="JobJer.html">ירושלים</a>
            <a href="JobTa.html">המרכז</a>
            <a href="JobSha.html">השרון</a>
            <a href="JobShf.html">השפלה</a>
            <a href="jobsou.html">דרום</a>
            <a href="JobNor.html">הצפון</a>
        </div>
    </div>

    </body>
</div>
