<!--<div dir="ltr">-->
<!--<div class="register_des">-->
<!--<h2>Register:</h2>-->
<!--ID:-->
<!--<textarea ng-model="user.id" value="id"></textarea>-->
<!--Password:-->
<!--<textarea ng-model="user.password" value="password"></textarea>-->
<!--</div>-->
<!--<input type="button" ng-click="newUser()" name="register" value="save in db">-->
<!--</div>-->


<div class="register_page">
    <h2>התחברות לפלטפורמה:</h2>
    <form align="right">
        <ul class="hor-ul">



            <li class="hor-li"><p class="info_req">ת.ז:  </p><input ng-model="user.identity" type="text" name="id" placeholder="תעודת זהות" class="textBox" required></li>
            <li class="hor-li"><p class="info_req">סיסמא:  </p><input ng-model="user.sis" type="password" name="pass" placeholder="סיסמא" class="textBox" required></li>
        </ul>
        <input ng-click="checkUser()" type="submit" value="התחבר">
    </form>
</div>

