<!--<div dir="ltr">-->
    <!--<div class="register_des">-->
        <!--<h2>Register:</h2>-->
        <!--ID:-->
        <!--<textarea ng-model="user.id" value="id"></textarea>-->
        <!--Password:-->
        <!--<textarea ng-model="user.password" value="password"></textarea>-->
    <!--</div>-->
    <!--<input type="button" ng-click="newUser()" name="register" value="save in db">-->
<!--</div>-->


<div class="register_page">
    <h2>הרשמה לפלטפורמה:</h2>
    <form align="right">
        <ul class="hor-ul">
            <li class="hor-li"><p class="info_req">שם פרטי:  </p><input ng-model="user.firstName" type="text" name="fname" placeholder="שם פרטי" class="textBox" required></li>
            <li class="hor-li"><p class="info_req">שם משפחה:  </p><input ng-model="user.lastName"  type="text" name="lname" placeholder="שם משפחה" class="textBox" required></li>
            <li class="hor-li"><p class="info_req">ת.ז:  </p><input ng-model="user.identity"  type="text" name="id" placeholder="תעודת זהות" class="textBox" required></li>
        </ul>
        <ul class="hor-ul">
            <li class="hor-li"><p class="info_req">סיסמא:  </p><input ng-minlength="5" ng-maxlength="15" ng-model="user.sis"  type="password" name="pass" placeholder="סיסמא" class="textBox" required></li>
            <li class="hor-li"><p class="info_req">חזור על הסיסמא:  </p><input ng-model="data.confirmPassword" type="password" name="pass" placeholder="סיסמא חוזרת" class="textBox" required></li>
            <li class="hor-li"><p class="info_req" >אימייל:  </p><input ng-model="user.Email"  type="email" name="email" placeholder="כתובת האימייל" class="textBox" required></li>
        </ul>
        <!--<P>:תאריך לידה</P>-->
        <!--<input type="date" class="textBox"><br>-->


        <!--<p><input type='radio' name="gender" value="male">זכר<br></p>-->
        <!--<p><input type='radio' name="gender" value="female">נקבה<br></p>-->

        <input ng-click="newUser()" type="submit" value="הירשם">
        </form>

    <div ng-messages="user.sis.$error" style="color:maroon" role="alert">
        <!--<div ng-message="required">You did not enter a field</div>-->
        <div ng-message="minlength">Your field is too short</div>
        <div ng-message="maxlength">Your field is too long</div>
    </div>
</div>