<head>
    <title>צור חשבון חדש</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reg.css">

    <script src="reg.js"></script>
</head>

<body>
<div ng-controler=""
<div class="loginmodal-container">
    <div class="headLine"><b>הרשמה</b></div>

    <div class="reg">

        <!--     //need to enter the server reg file downhere    -->

        <form action="demo_form.asp">
            <p><input type="text" name="fname" placeholder="שם פרטי"><br></p>
            <p><input type="text" name="lname" placeholder="שם משפחה"><br></p>
            <p><input type="password" name="pass" placeholder="סיסמה"><br></p>
            <p><input type="text" name="mail" placeholder="כתובת מייל"><br></p>
            <P>:תאריך לידה</P>
            <input type="date"><br>


            <p><input type='radio' name="gender" value="male">זכר<br></p>
            <p><input type='radio' name="gender" value="female">נקבה<br></p>

            <input type="submit" value="הרשמה" class="loginmodal-submit"><br>

        </form>







    </div>
</div>
</body>
</html>
