<div class="view-wrapped">
    <h1>חפש בוגר</h1>
    <h4>חיפוש ע"פ:</h4>
    <div class="search-section">

        <!--TOP HORIZONTAL LINE-->
        <ul class="hor-ul">
            <li class="hor-li"><p class="info_req">שם פרטי:  </p><input type="text" name="fname" placeholder="שם פרטי" class="textBox-small"></li>
            <li class="hor-li"><p class="info_req">שם משפחה:  </p><input type="text" name="lname" placeholder="שם משפחה" class="textBox-small"></li>
            <li class="hor-li"><p class="info_req">עיר:  </p><input type="text" name="city" placeholder="עיר" class="textBox-small"></li>
        </ul>

        <!--MIDDLE HORIZONTAL LINE-->
        <ul class="hor-ul">
            <li class="hor-li">
                <p class="info_req">חיל:</p>
                <select ng-model="infoUser.army_type"> //FILL OPTIONS & CHANGE IN 'CHANGE INFO' PAGE
                    <!--<option value="keva">קבע</option>-->
                    <!--<option value="ktsuna">קצונה</option>-->
                </select>
            </li>

            <li class="hor-li">
                <p class="info_req">יחידה:</p>
                <select ng-model="infoUser.army_unit"> //FILL OPTIONS & CHANGE IN 'CHANGE INFO' PAGE
                    <!--<option value="keva">קבע</option>-->
                    <!--<option value="ktsuna">קצונה</option>-->
                </select>
            </li>

            <li class="hor-li">
                <p class="info_req">קבע\קצונה:</p>
                <select ng-model="infoUser.keva_ktsuna">
                    <option value="keva">קבע</option>
                    <option value="ktsuna">קצונה</option>
                </select>
            </li>

            <li class="hor-li">
                <p class="info_req">ארץ:</p>
                <select ng-model="infoUser.trip_place">
                    <option value="east">המזרח הרחוק</option>
                    <option value="sAmerica">דרום אמריקה</option>
                    <option value="mAmerica">מרכז אמריקה</option>
                </select>
            </li>
        </ul>

        <!--BOTTOM HORIZONTAL LINE-->
        <ul class="hor-ul">
            <li class="hor-li"><p class="info_req">תחום לימודים:</p><input ng-model="infoUser.knowledge_type" type="text" name="knowledge" placeholder="תחום לימודים" class="textBox-small"></li>
            <li class="hor-li">
                <p class="info_req">השכלה אקדמית:</p>
                <select ng-model="infoUser.knowledge">
                    <option value="gun">תואר ראשון</option>
                    <option value="travel_guide">תואר שני</option>
                    <option value="medic">דוקטורט</option>
                    <option value="paramedic">פרופסורה</option>
                </select>
            </li>
            <li class="hor-li">
                <p class="info_req">קורסים והסמכות:</p>
                <select ng-model="infoUser.courses">
                    <option value="gun">רשיון נשק</option>
                    <option value="travel_guide">מדריך טיולים</option>
                    <option value="medic">חובש</option>
                    <option value="paramedic">פראמדיק</option>
                    <option value="team_guide">הדרכת קבוצות</option>
                </select>
            </li>
        </ul>
    </div>



    <div class="search-results">

    </div>


</div>

</div>
