<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="/">
    <title>Ein-Prat Academic College</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Custom CSS -->
    <link href="css/css/sb-admin.css" rel="stylesheet">
    <link href="css/css/sb-admin-rtl.css" rel="stylesheet">
    <link href="css/css/modal_new.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Core CSS RTL-->
    <link href="css/bootstrap/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script type="text/javascript">

        $(document).ready(function(){
            $("#myModal").modal({show:'true',backdrop: 'static'});
        });

    </script>


</head>
<body>





<div ng-controller="igCtrl">

    <div id="myModal" class="modal fade" style="margin-top: 7%">

        <modal modal="modalText"></modal>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="active" id="login-form-link">התחבר</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" id="register-form-link">הרשמה</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="login-form"  method="post" role="form" style="display: block;">
                                            <div class="form-group">

                                                <input ng-model="user.identity" type="text" name="id"  tabindex="1" class="form-control" placeholder="תעודת זהות" required="required">
                                            </div>
                                            <div class="form-group">

                                                <input ng-model="user.sis" type="password" name="pass" tabindex="2"  class="form-control" placeholder="סיסמא" required>
                                            </div>
                                            <div class="form-group text-center">
                                                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                <label for="remember"> זכור אותי</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <!--<input  button ng-click="checkUser()" id="myModalSave" type="button" class="btn btn-primary">התחבר</button>-->

                                                        <input ng-click="checkUser()" id="myModalSave" type="button"  id="login-submit" tabindex="4" class="form-control btn btn-login" value="התחבר">
                                                        <input  id="myModalexit" type="button"  id="login-submit" tabindex="4" class="form-control btn btn-login" value="יציאה (זמני)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <!--<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">שכחת את הסיסמא?</a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: none;">
                                            <div class="form-group">


                                                <input ng-model="user_reg.firstName" type="text" name="fname" id="username" tabindex="1" class="form-control" placeholder="שם פרטי" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <input ng-model="user_reg.lastName" type="text" name="lname" id="username" tabindex="2" class="form-control" placeholder="שם משפחה" value="" required>

                                            </div>
                                            <div class="form-group">
                                                <input ng-model="user_reg.identity" type="text" name="id" id="username" tabindex="3" class="form-control" placeholder="תעודת זהות" value="" required>

                                            </div>
                                            <div class="form-group">

                                                <input ng-minlength="5" ng-maxlength="15" ng-model="user_reg.sis"  type="password" name="pass" placeholder="סיסמא" class="form-control" tabindex="4" required>
                                            </div>
                                            <div class="form-group">

                                                <input ng-minlength="5" ng-maxlength="15" ng-model="data.confirmPassword"  type="password" name="pass" placeholder="חזור על הסיסמא" class="form-control" tabindex="5" required>

                                            </div>
                                            <div class="form-group">

                                               <input ng-model="user_reg.Email"  type="email" name="email" tabindex="6" placeholder="כתובת האימייל" class="form-control" value="" required>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <!--<input ng-click="checkUser()" id="myModalSave" type="button"  id="login-submit" tabindex="4" class="form-control btn btn-login" value="התחבר">-->
                                                        <a href="/#/change_info"><input ng-click="newUser()" type="button" tabindex="7" class="form-control btn btn-register" value="הרשם עכשיו"> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

    <!---->
<!--<div id="myModal" class="modal fade">-->

    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->

                <!--<h4 class="modal-title"> מכינת עין פרת</h4>   <img src="images/abc.jpg" float="left" >-->
            <!--</div>-->

            <!--<temp-modal item="item"></temp-modal>-->

            <!--<div class="modal-body">-->
                <!--<p> האפשרות לצאת מהחלון הזה לא תיהיה שזה יעבוד- כרגע צריך לסדר את הcontroller שיחבר את השם משתמש וגם לסדר הרשמה</p>-->




                <!--<form>-->
                    <!--<div class="form-group">-->

                        <!--<input ng-model="user.identity" type="text" name="id" class="form-control" placeholder="תעודת זהות" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input ng-model="user.sis" type="password" class="form-control" name="pass" placeholder="סיסמא" class="textBox" required>-->
                    <!--</div>-->

                    <!--<button ng-click="checkUser()" id="myModalSave" type="button" class="btn btn-primary">התחבר</button>-->

                    <!--<button id="myModal2" type="submit" class="btn btn-primary">הרשמה</button>-->
                    <!--<button  id="myModalexit" type="button" class="btn btn-primary">יציאה (זמני)</button>-->

                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--</div>-->



<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home_page">מכינת עין-פרת</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">

            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>יהושוע</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> אתמול ב 16:55</p>
                                    <p>שאלה בקטנה בנושא...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>מושיקו</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> אתמול ב 16:32 </p>
                                    <p>שכחתי לספר לך משהו..</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">לכל ההודעות</a>
                    </li>
                </ul>
            </li>


            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">התראה #1 <span class="label label-default">הודעה חדשה</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #2 <span class="label label-primary">אירוע חדש</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #3 <span class="label label-success">חסרים פרטים</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #4 <span class="label label-info">שלם לאירוע</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #5 <span class="label label-warning">חבר חדש</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #6 <span class="label label-danger">אזהרה</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">הצג הכל</a>
                    </li>
                </ul>
            </li>




            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                    <div ng-controller="usernameController">
                        {{usernameController.name}}
                    </div>
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#/change_info"><i class="fa fa-fw fa-user"></i> פרופיל ושינוי פרטים</a>
                    </li>
                    <li>
                        <a href="/#/app_settings"><i class="fa fa-fw fa-gear"></i> הגדרות אפליקציה</a>
                    </li>
                    <li>
                        <a href="http://www.mechina.einprat.org/"><i class="fa fa-fw fa-share-alt"></i> לאתר המכינה</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> התנתק</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/#/"><i class="fa fa-fw fa-home"></i> בית</a>
                </li>
                <li>
                    <a href="/#/senior_search"><i class="fa fa-fw fa-search"></i> חפש בוגר</a>
                </li>
                <li>
                    <a href="/#/studies"><i class="fa fa-fw fa-book"></i> חומרי לימוד</a>
                </li>
                <li>
                    <a href="/#/sales"><i class="fa fa-fw fa-usd"></i> הנחות</a>
                </li>
                <li>
                    <a href="/#/job_offers"><i class="fa fa-fw fa-send"></i> הצעות עבודה</a>
                </li>
                <li>
                    <a href="/#/events"><i class="fa fa-fw fa-bullhorn"></i> פעילויות בוגרים</a>
                </li>
                <li>
                    <a href="/#/blank_page"><i class="fa fa-fw fa-wrench"></i> פאנל מנהל</a>
                </li>
                <li>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </li>
                <!--<li>-->
                    <!--<a href="/#/reg"><i class="fa fa-fw fa-magnet"></i>REGISTER</a>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a href="/#/log"><i class="fa fa-fw fa-play"></i>LOG-IN</a>-->
                <!--</li>-->
                <li class="active">
                    <!--                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> מידע על הפלטפורמה</a>-->
                    <a href="/#/info"><i class="fa fa-fw fa-link"></i> מידע על הפלטפורמה</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

        <div id="page-wrapper">
            <div id="view_area" ng-view></div>
        </div>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script src="js/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- Angular Core JavaScript -->
<script src="js/angular/angular.min.js"></script>
<!--<script src="js/angular/angular.min.js.map"></script>-->
<script src="js/angular/angular-route.min.js"></script>
<!--<script src="js/angular/angular-route.min.js.map"></script>-->
<script src="js/angular/angular-messages.min.js"></script>
<!--<script src="js/angular/angular-messages.min.js.map"></script>-->

<!--App-->
<script src="js/javascript/app.js"></script>
<script src="js/javascript/routes.js"></script>

<!--Controllers-->
<script src="js/controllers/PageCtrl/pageCtrl.js"></script>
<script src="js/controllers/registerCtrl/RegisterCtrl.js"></script>
<script src="js/controllers/logInCtrl/LogInCtrl.js"></script>
<script src="js/controllers/InfoCtrl/InfoCtrl.js"></script>
<script src="js/controllers/SeniorCtrl/SeniorCtrl.js"></script>
<script src="js/controllers/JobCtrl/JobCtrl.js"></script>
<script src="js/controllers/FindCtrl/FindCtrl.js"> </script>


<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>


</html>
