<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="/">
    <title>Ein-Prat Academic College</title>

    <!-- Custom CSS -->
    <link href="css/css/sb-admin.css" rel="stylesheet">
    <link href="css/css/sb-admin-rtl.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Core CSS RTL-->
    <link href="css/bootstrap/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../views/index.ejs">מכינת עין-פרת</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>יהושוע</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> אתמול ב 16:55</p>
                                    <p>שאלה בקטנה בנושא...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>מושיקו</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> אתמול ב 16:32 </p>
                                    <p>שכחתי לספר לך משהו..</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">לכל ההודעות</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">התראה #1 <span class="label label-default">הודעה חדשה</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #2 <span class="label label-primary">אירוע חדש</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #3 <span class="label label-success">חסרים פרטים</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #4 <span class="label label-info">שלם לאירוע</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #5 <span class="label label-warning">חבר חדש</span></a>
                    </li>
                    <li>
                        <a href="#">התראה #6 <span class="label label-danger">אזהרה</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">הצג הכל</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> דודו זר <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="change_info"><i class="fa fa-fw fa-user"></i> פרופיל ושינוי פרטים</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> סנכרן עם פייסבוק</a>
                    </li>
                    <li>
                        <a href="app_settings"><i class="fa fa-fw fa-gear"></i> הגדרות אפליקציה</a>
                    </li>
                    <li>
                        <a href="http://www.mechina.einprat.org/"><i class="fa fa-fw fa-gear"></i> לאתר המכינה</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> התנתק</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/#/home_page"><i class="fa fa-fw fa-home"></i> בית</a>
                </li>
                <li>
                    <a href="/#/senior_search"><i class="fa fa-fw fa-search"></i> חפש בוגר</a>
                </li>
                <li>
                    <a href="/#/studies"><i class="fa fa-fw fa-book"></i> חומרי לימוד</a>
                </li>
                <li>
                    <a href="/#/sales"><i class="fa fa-fw fa-usd"></i> הנחות</a>
                </li>
                <li>
                    <a href="/#/job_offers"><i class="fa fa-fw fa-send"></i> הצעות עבודה</a>
                </li>
                <li>
                    <a href="/#/events"><i class="fa fa-fw fa-bullhorn"></i> פעילויות בוגרים</a>
                </li>
                <li>
                    <a href="/#/blank_page"><i class="fa fa-fw fa-file"></i> BLANK OPTION</a>
                </li>
                <li>
                    <a href="#"><i class="blank_divider"></i>  </a>
                </li>
                <li>
                    <a href="#"><i class="blank_divider"></i>  </a>
                </li>
                <li>
                    <a href="#"><i class="blank_divider"></i>  </a>
                </li>
                <li class="active">
                    <!--                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> מידע על הפלטפורמה</a>-->
                    <a href="info"><i class="fa fa-fw fa-link"></i> מידע על הפלטפורמה</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" ng-view>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script src="js/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- Angular Core JavaScript -->
<script src="js/angular/angular.min.js"></script>
<!--<script src="js/angular/angular.min.js.map"></script>-->
<script src="js/angular/angular-route.min.js"></script>
<!--<script src="js/angular/angular-route.min.js.map"></script>-->
<script src="js/angular/angular-messages.min.js"></script>
<!--<script src="js/angular/angular-messages.min.js.map"></script>-->

<!--App-->
<script src="js/javascript/app.js"></script>
<script src="js/javascript/routes.js"></script>



<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>


</html>
