@import url(http://fonts.googleapis.com/css?family=Roboto);


/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 100px;
    max-width: 350px;
    width: 100% !important;
    background-color: floralwhite;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.headLine{
    font-size: 50px;
    color: darkblue;
    text-align: center;

}


.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 2px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: darkblue;
    padding: 35px 35px;
    font-family: roboto;
    font-size: 30px;
}